:root {
    --color-0: transparent; /* transparent */

    --color-1: #ffffff; /* Gradient_top */
    --color-2: #ffffff; /* Gradient_middle */
    --color-3: #ffffff;/* Gradient_bottom */
    --color-4: #f6f0ff;  /* sub color */
    --color-5: #818dff; /* main color */

    --logo-URL: url("https://djmjy2.github.io/Tgd-CSS/image/logo.png");
    --logo-Width: 158px;
    --logo-Height: 50px;
    --logo-size-mobile: 90px 32px;

    --pre-comment: "람타임에 ";
    --sub-comment: "명 속았음 ";
}